.conocimientos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #404040;
        text-decoration: underline;
        text-underline-offset: 0.5em;
        margin: 80px 0px;
        h3 {
            font-size: 42px;
        }
    }

    &-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 12vh;
        margin-bottom: 64px;

        &-1group{
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            &-card {
                display: flex;
                column-gap: 12px;
                align-items: baseline;
                color: #404040;
                
            }
    
            &-card i{
                font-size: 32px;
                color: #6A8BF5;
            }
        }

        &-2group{
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            &-card {
                display: flex;
                column-gap: 12px;
                align-items: baseline;
                color: #404040;
            }
    
            &-card i{
                font-size: 32px;
                color: #6A8BF5;
            }
        } 
    }


}