.experiencia {

    margin-bottom: 80px;

    &-title {

        display: flex;
        justify-content: center;
        align-items: center;
        color: #F6F8FF;
        text-decoration: underline;
        text-underline-offset: 0.5em;
        margin: 80px 0px;

        h3 {
            font-size: 42px;
        }
    }

    &-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 64px;

        &-estudios {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 20%;
            row-gap: 24px;

            &-cursos {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                color: #F6F8FF;
                border-left: 2px solid #F6F8FF;
                border-radius: 12px;
                padding: 12px;
                font-size: 24px;
                background-color: #161B31;
            }
        }

        &-laboral {
            display: flex;
            flex-direction: column;
            width: 25%;
            row-gap: 24px;

            &-empleo {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                color: #F6F8FF;
                border-left: 2px solid #F6F8FF;
                ;
                border-radius: 12px;
                padding: 12px;
                font-size: 16px;
                background-color: #161B31;
            }
        }
    }

}